@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=WDXL+Lubrifont+TC&display=swap');
@import "tailwindcss";

@theme {
    --font-family: "Oswald", sans-serif;
}

@keyframes slide-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide-vertical {
  animation-name: slide-vertical;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
